<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/css/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/css/IMG_0956.JPG">
        </div>
        {{>footer}}
    </body>
</html>